html,
body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Gilroy-Medium', sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  /* Hide scrollbar in IE */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox and Edge */
}

#info {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
}

#tracks {
  height: 60%;
  width: 60%;
  background-color: #0008b0;
}

#tracks h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 15px;
}

#album {
  width: 30%;
  display: flex;
  align-items: center;
}

#album img {
  height: 8vh;
  width: 8vh;
  object-fit: cover;
  margin-right: 10px;
}

ol div {
  color: orange;
  font-weight: 600;
}

ol:hover {
  cursor: pointer;
}

#playlist #song {
  font-size: large;
  text-align: center;
  width: 35%;
  color: lawngreen;
  pointer-events: none;
}

#playlist h5,
img,
#song,
#album {
  color: honeydew;
  pointer-events: none;
}

#playlist #duration {
  font-size: 12px;
  color: #fff;
}

#main {
  height: 100vh;
  width: 100vw;
  background-color: dimgray;
}

#nav {
  height: 6vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  align-items: center;
}

#nav h1 {
  font-size: 22px;
  font-weight: 800;
  padding: 0px 30px;
  color: #55c5ff;
}

#info {
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  border-top: 2px solid #fff;
  overflow: hidden;
}

#tracks {
  height: 60vh;
  width: 60vw;
  background-color: #08113b;  
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)), url("https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg");
  background-size: cover;
  background-position: center;
}

#tracks h2 {
  color: darksalmon;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 15px;
}

#tracks #head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 2px solid #fff;
}

#head div {
  color: blanchedalmond;
}

#album {
  width: 30%;
  display: flex;
  align-items: center;
}

#album img {
  height: 8vh;
  width: 8vh;
  object-fit: cover;
}

#playlist {
  height: 48vh;
  padding: 0px 20px;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* Hide scrollbar in IE */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox and Edge */
}

#playlist ol {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  padding: 1vh 0;
  background-color: #ffffff39;
}

#playlist ol:hover {
  background-color: #e3e1ec5b;
}

#playlist #song {
  text-align: center;
  width: 35%;
}

#playlist #duration {
  text-align: end;
  width: 35%;
}

#right {
  height: 60vh;
  width: 40vw;
  background-color: rgb(57 67 77);
  border-left: 2px solid #fff;
}

#right h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 15px;
  color: #beffba;
}

#artists {
  height: 96%;
  width: 97%;
  padding-right: 18px;
  background-color: #08113b;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("https://e1.pxfuel.com/desktop-wallpaper/526/27/desktop-wallpaper-blue-music-notes-backgrounds-music-background-thumbnail.jpg");
  display: grid;
  background-size: cover;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* Hide scrollbar in IE */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox and Edge */
}

.artist {
  max-height: 22vh;
  width: 100%;
  margin: 10px 5px;
  text-align: center;
}

.artist img:hover {
  cursor: pointer;
}

.artist img {
  max-height: 19vh;
  max-width: 11vw;
  object-fit: cover;
  border-radius: 20px;
}

.artist p {
  font-size: 15px;
  font-weight: 700;
  color: #ffb742;
  pointer-events: none;
}

.artist #detail {
  font-size: 16px;
  font-weight: 600;
  color: rgb(22, 179, 22);
}

/* Hide the scrollbar in IE and Firefox/Edge */
.albumGrid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Set the overall container styles */
#albums {
  height: 20vh;
  padding: 6px;
  background-color: #08113b;
  background-image: url("https://lh5.googleusercontent.com/proxy/4uF3RD0othILVJiIuxifduBWIkgRqcVmZOCBYm8CxHzwrsQIQfC406iT75alZ10Z5Rv1xGd7W83DtZIew2aEZimhQ-10NwQOPpmpBZJrcggBstToNA2p2T8OO8NYpRTItfuZ78kNTQzVvA=w1200-h630-p-k-no-nu");
  background-size: contain;
  border-top: 2px solid #fff;
  overflow: hidden;
  /* Hide both vertical and horizontal scrollbars */
}

/* Style for album titles */
#albums h4 {
  height: 25%;
  color: #cbc10c;
  font-size: 18px;
  font-weight: 800;
  padding-left: 10px;
}

/* Scrollable container for album items */
.albumGrid {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: hidden;
  /* Hide the vertical scrollbar */
}

/* Individual album item styles */
.album-item {
  height: 100%;
  width: 40vw;
  padding: 8px;
  text-align: center;
}

/* Style for album cover images */
.album-item img {
  height: 12vh;
  width: 14vw;
  object-fit: cover;
  border-radius: 8px;
  padding-right: 1vh;
}

/* Album description text */
.album-item p {
  font-size: 16px;
  color: #629e25;
  font-weight: 600;
}

#footer {
  height: 6.5vh;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #121010;
  background-image: url("https://lh3.googleusercontent.com/proxy/Sln2fVNG1CHHkq77FARTQZ9pKMAZcaxN5ubSMXQbxbUSIDwXb-bab3LkaDukRfggksf6DtOsSyJmhXggmPgP3lKz84qUfwIwTHon=s0-d");
}

#now-playing {
  padding-top: 5px;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#now-playing img {
  height: 8vh;
  width: 6vw;
  object-fit: cover;
  border-radius: 10px;
  padding-right: 1vh;
}

#now-playing #song-name {
  font-size: 18px;
  font-weight: 600;
  color: #e7a177;
}

#song-name p {
  font-size: 14px;
  color: #9494eb;
}

#player {
  height: 5vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 25px;
}

#player i {
  font-size: 30px;
  color: #34dfe9;
}

#player i:nth-child(1):hover {
  color: yellowgreen;
}

#player i:nth-child(2):hover {
  color: brown;
}

#player i:nth-child(3):hover {
  color: yellowgreen;
}

#social {
  height: 5vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: end;
}

#social i {
  font-size: 22px;
  padding: 20px;
}

#social i:nth-child(1):hover {
  color: green;
}

#social i:nth-child(2):hover {
  color: red;
}

#mute {
  width: 10vw;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* ----Responsiveness----- */

/* Adjustments for smaller screens */

/* For screens smaller than 768px in width */
@media screen and (max-width: 768px) {

  #head #duration {
    margin-left: -14vw;
  }

  #playlist{
    height: 50vh;
    padding: 0px 10px;
  }

  #playlist #song {
    font-size: medium;
  }

  #playlist #duration {
    width: 10%;
  }

  #artists {
    grid-gap: 0px;
    padding-right: 18px;
    grid-template-columns: repeat(2, 1fr);

  }

  #albums h4{
    font-size: small;
  }

  .artist img {
    min-height: 15vh;
    min-width: 18vw;
  }

  .album-item img{
    width: 16vw;
  }

  .album-item p{
    font-size: small;
  }

  #icon img{
    height: 6vh;
    width: 8vw;
  }

  #footer{
    height: 5%;
  }

  #player i{
    font-size: 22px;
  }

  #now-playing #song-name {
    font-size: 12px;
  }
}

/* For screens smaller than 576px in width */
@media screen and (max-width: 576px) {
  
  #playlist #song {
    font-size: small;
  }
}

/* For screens smaller than 520px in width */
@media screen and (max-width: 520px) {
  #now-playing #song-name {
    font-size: 5px;
  }

  #head div{
    font-size: 12px;
  }

  #right h2{
    font-size: 16px;
  }

  #album img{
    height: 35px;
  }

  #album-name{
    font-size: 10px;
  }

  #playlist #song{
    font-size: 10px;
  }

  #playlist #duration{
    font-size: 10px;
  }

  #song-name p {
    font-size: 10px;
  }

  #social i{
    font-size: 12px;
    padding: 10px;
  }
  #mute{
    font-size: 14px;
  }

  #artists{
    height: 100%;
    width: 40vw;
    grid-template-columns: repeat(1, 1fr);
  }

  .artist{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .artist img {
    min-height: 10vh;
    min-width: 25vw;
  }

  .album-item img{
    width: 26vw;
  }
}

/* For screens smaller than 400px in width */
@media screen and (max-width: 400px) {
  #tracks h2{
    font-size: 15px;
  }

  #right h2{
    font-size: 13px;
  }

}
